---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import { learningSites } from '../features/learning/learning';
import { articleSites } from '../features/article/article';
import { usefulSites } from '../features/useful/useful';
import { materialSites } from '../features/material/material';
import { aiSites } from '../features/ai/ai';
import { chromeSites } from '../features/chrome/chrome';
import { vscodeSites } from '../features/vscode/vscode';
import Menu from '../components/Menu.astro';

export function getStaticPaths() {
    return [
        { params: { site: 'article' } },
        { params: { site: 'learning' } },
        { params: { site: 'useful' } },
        { params: { site: 'material' } },
        { params: { site: 'ai' } },
        { params: { site: 'chrome' } },
        { params: { site: 'vscode' } },
    ];
}

const { site } = Astro.params;
let sites: { title: string; url: string; image: string; description: string }[] = [];
switch (site) {
    case 'learning':
        sites = learningSites;
        break;
    case 'article':
        sites = articleSites;
        break;
    case 'useful':
        sites = usefulSites;
        break;
    case 'material':
        sites = materialSites;
        break;
    case 'ai':
        sites = aiSites;
        break;
    case 'chrome':
        sites = chromeSites;
        break;
    case 'vscode':
        sites = vscodeSites;
        break;
    default:
        sites = learningSites;
        break;
}
---

<Layout>
    <div class="h-screen relative">
        <Menu />
        <Header />
        <div class="flex h-[calc(100%_-_3rem)]">
            <Sidebar />
            <main class="sm:w-5/6 px-6 py-6 grid grid-cols-1 sm:grid-cols-3 gap-8 overflow-scroll">
                {
                    sites.map((site) => (
                        <a
                            href={site.url}
                            class="min-h-80 bg-gray-50 rounded animate-fade-in-top hover:border hover:border-indigo-400 hover:cursor-pointer"
                            target="_blank"
                            rel="noreferrer"
                        >
                            <img
                                class="w-full border-b border-blue-200"
                                src={site.image}
                                alt={`${site.title}のトップ画像`}
                            />
                            <p class="my-2 pl-3 font-bold">{site.title}</p>
                            <p class="mb-2 px-3 text-sm">{site.description}</p>
                        </a>
                    ))
                }
            </main>
        </div>
    </div>
</Layout>
